body{
font-family: Helvetica;
font-size: 22px;
background-color: black;
color: seashell;
opacity: 0.9;
}
/*-- header --*/
.header{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 69px;
}
.logo img{
  display: flex;
  height: 50px;
  padding-left: 10px;
}
nav span{
  flex-wrap: wrap;
  display: inline-block;
  text-decoration: underline;
  margin: 0 15px;
}

nav a{
  color: seashell;
}
div{
  display: block;
}

#main{
  padding-top: 70px;
  margin: auto;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}


 /*-- Mission --*/
#our-mission{
  background-image: url(../images/img-mission-background.jpg);
  padding-top: 70px;
  height: 700px;
  display:flex;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .mission-text{
    background-color: black;
    width: 1200px;
    text-align: center;
  }

/*-- Merch --*/
#store{
  height: 700px;
  padding-top: 30px;
  padding-bottom: 70px;
  }

  .merch-display{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
    width: 1000px;
  }

.merch-display img{
    height: 200px;
    width: 300px;

  }
.merch{
  display: block;
  text-align: center;
  padding: 0 15px;
}

/*-- Locations --*/
#locations{
  background-image: url(../images/img-locations-background.jpg);
  background-position: top;
  height: 500px;
  display: block;
}
.locations h2{
  display: block;
  text-align: center;
  margin-top: 50px;
}

.local-display{
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.local{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 300px;
  background-color: black;
  margin: 15px 20px 0 20px;
  padding-bottom: 20px;
}
 /*-- Contact --*/
 .contact{
   height: 200px;
   text-align: center;
 }

/*-- footer --*/
footer{
  margin-left: 20px;
}
